USE [master]
GO
/****** Object:  Database [CentroCapacitacionDB]    Script Date: 23/03/2026 1:56:54 ******/
CREATE DATABASE [CentroCapacitacionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CentroCapacitacionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CentroCapacitacionDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CentroCapacitacionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CentroCapacitacionDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CentroCapacitacionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CentroCapacitacionDB]
GO
/****** Object:  Table [dbo].[Cohortes]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cohortes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Archivado] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursoCohorte]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoCohorte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CursoId] [int] NOT NULL,
	[CohorteId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CursoCohorte] UNIQUE NONCLUSTERED 
(
	[CursoId] ASC,
	[CohorteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursoInstructor]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoInstructor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CursoId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CursoInstructor] UNIQUE NONCLUSTERED 
(
	[CursoId] ASC,
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](30) NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[TotalHorasPracticas] [int] NOT NULL,
	[Archivado] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destrezas]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destrezas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CursoId] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[NotaMinimaAprobacion] [decimal](5, 2) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluaciones]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[DestrezaId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[TiempoRespuestaSegundos] [int] NOT NULL,
	[PuntajeOriginal] [decimal](5, 2) NOT NULL,
	[PuntajeFinal] [decimal](5, 2) NOT NULL,
	[AceptacionInstructor] [varchar](150) NOT NULL,
	[Comentarios] [varchar](500) NULL,
	[FechaEvaluacion] [datetime] NOT NULL,
	[TiempoMinutos] [int] NOT NULL,
	[TiempoSegundos] [int] NOT NULL,
	[EstadoDominio] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionPuntoControl]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionPuntoControl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EvaluacionId] [int] NOT NULL,
	[PuntoControlId] [int] NOT NULL,
	[Cumplido] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorasPracticas]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorasPracticas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[HorasCompletadas] [decimal](10, 2) NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HorasPracticas] UNIQUE NONCLUSTERED 
(
	[ParticipanteId] ASC,
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipanteAsignacion]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipanteAsignacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[CohorteId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[FechaFinAsignacion] [datetime] NULL,
	[MotivoCambio] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participantes]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoInterno] [varchar](20) NOT NULL,
	[TipoIdentificacion] [varchar](20) NOT NULL,
	[Identificacion] [varchar](50) NOT NULL,
	[NombreCompleto] [varchar](150) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Provincia] [varchar](100) NOT NULL,
	[Canton] [varchar](100) NOT NULL,
	[Distrito] [varchar](100) NOT NULL,
	[DetalleDireccion] [varchar](250) NOT NULL,
	[EstadoCivil] [varchar](20) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Telefono] [varchar](30) NULL,
	[DireccionResidenciaSecundaria] [varchar](250) NULL,
	[ContactoEmergencia] [varchar](150) NULL,
	[Activo] [bit] NOT NULL,
	[EstadoCertificacion] [varchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoInterno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuntoControlCritico]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntoControlCritico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DestrezaId] [int] NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retroalimentaciones]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retroalimentaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[Comentario] [varchar](500) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23/03/2026 1:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](150) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[RolId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[BloqueadoHasta] [datetime] NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cohortes] ADD  DEFAULT ((0)) FOR [Archivado]
GO
ALTER TABLE [dbo].[Cohortes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cursos] ADD  DEFAULT ((0)) FOR [Archivado]
GO
ALTER TABLE [dbo].[Cursos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Destrezas] ADD  DEFAULT ((70)) FOR [NotaMinimaAprobacion]
GO
ALTER TABLE [dbo].[Destrezas] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT (getdate()) FOR [FechaEvaluacion]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  CONSTRAINT [DF_Evaluaciones_TiempoMinutos]  DEFAULT ((0)) FOR [TiempoMinutos]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  CONSTRAINT [DF_Evaluaciones_TiempoSegundos]  DEFAULT ((0)) FOR [TiempoSegundos]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  CONSTRAINT [DF_Evaluaciones_EstadoDominio]  DEFAULT ('En Progreso') FOR [EstadoDominio]
GO
ALTER TABLE [dbo].[HorasPracticas] ADD  DEFAULT ((0)) FOR [HorasCompletadas]
GO
ALTER TABLE [dbo].[HorasPracticas] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[ParticipanteAsignacion] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ParticipanteAsignacion] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Participantes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Participantes] ADD  DEFAULT ('En Proceso') FOR [EstadoCertificacion]
GO
ALTER TABLE [dbo].[Participantes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PuntoControlCritico] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Retroalimentaciones] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CursoCohorte]  WITH CHECK ADD  CONSTRAINT [FK_CursoCohorte_Cohorte] FOREIGN KEY([CohorteId])
REFERENCES [dbo].[Cohortes] ([Id])
GO
ALTER TABLE [dbo].[CursoCohorte] CHECK CONSTRAINT [FK_CursoCohorte_Cohorte]
GO
ALTER TABLE [dbo].[CursoCohorte]  WITH CHECK ADD  CONSTRAINT [FK_CursoCohorte_Curso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[CursoCohorte] CHECK CONSTRAINT [FK_CursoCohorte_Curso]
GO
ALTER TABLE [dbo].[CursoInstructor]  WITH CHECK ADD  CONSTRAINT [FK_CursoInstructor_Curso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[CursoInstructor] CHECK CONSTRAINT [FK_CursoInstructor_Curso]
GO
ALTER TABLE [dbo].[CursoInstructor]  WITH CHECK ADD  CONSTRAINT [FK_CursoInstructor_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[CursoInstructor] CHECK CONSTRAINT [FK_CursoInstructor_Usuario]
GO
ALTER TABLE [dbo].[Destrezas]  WITH CHECK ADD  CONSTRAINT [FK_Destrezas_Curso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[Destrezas] CHECK CONSTRAINT [FK_Destrezas_Curso]
GO
ALTER TABLE [dbo].[Evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_Evaluaciones_Curso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[Evaluaciones] CHECK CONSTRAINT [FK_Evaluaciones_Curso]
GO
ALTER TABLE [dbo].[Evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_Evaluaciones_Destreza] FOREIGN KEY([DestrezaId])
REFERENCES [dbo].[Destrezas] ([Id])
GO
ALTER TABLE [dbo].[Evaluaciones] CHECK CONSTRAINT [FK_Evaluaciones_Destreza]
GO
ALTER TABLE [dbo].[Evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_Evaluaciones_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Evaluaciones] CHECK CONSTRAINT [FK_Evaluaciones_Instructor]
GO
ALTER TABLE [dbo].[Evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_Evaluaciones_Participante] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participantes] ([Id])
GO
ALTER TABLE [dbo].[Evaluaciones] CHECK CONSTRAINT [FK_Evaluaciones_Participante]
GO
ALTER TABLE [dbo].[EvaluacionPuntoControl]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionPuntoControl_Evaluacion] FOREIGN KEY([EvaluacionId])
REFERENCES [dbo].[Evaluaciones] ([Id])
GO
ALTER TABLE [dbo].[EvaluacionPuntoControl] CHECK CONSTRAINT [FK_EvaluacionPuntoControl_Evaluacion]
GO
ALTER TABLE [dbo].[EvaluacionPuntoControl]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionPuntoControl_Punto] FOREIGN KEY([PuntoControlId])
REFERENCES [dbo].[PuntoControlCritico] ([Id])
GO
ALTER TABLE [dbo].[EvaluacionPuntoControl] CHECK CONSTRAINT [FK_EvaluacionPuntoControl_Punto]
GO
ALTER TABLE [dbo].[HorasPracticas]  WITH CHECK ADD  CONSTRAINT [FK_HorasPracticas_Curso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[HorasPracticas] CHECK CONSTRAINT [FK_HorasPracticas_Curso]
GO
ALTER TABLE [dbo].[HorasPracticas]  WITH CHECK ADD  CONSTRAINT [FK_HorasPracticas_Participante] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participantes] ([Id])
GO
ALTER TABLE [dbo].[HorasPracticas] CHECK CONSTRAINT [FK_HorasPracticas_Participante]
GO
ALTER TABLE [dbo].[ParticipanteAsignacion]  WITH CHECK ADD  CONSTRAINT [FK_ParticipanteAsignacion_Cohorte] FOREIGN KEY([CohorteId])
REFERENCES [dbo].[Cohortes] ([Id])
GO
ALTER TABLE [dbo].[ParticipanteAsignacion] CHECK CONSTRAINT [FK_ParticipanteAsignacion_Cohorte]
GO
ALTER TABLE [dbo].[ParticipanteAsignacion]  WITH CHECK ADD  CONSTRAINT [FK_ParticipanteAsignacion_Curso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[ParticipanteAsignacion] CHECK CONSTRAINT [FK_ParticipanteAsignacion_Curso]
GO
ALTER TABLE [dbo].[ParticipanteAsignacion]  WITH CHECK ADD  CONSTRAINT [FK_ParticipanteAsignacion_Participante] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participantes] ([Id])
GO
ALTER TABLE [dbo].[ParticipanteAsignacion] CHECK CONSTRAINT [FK_ParticipanteAsignacion_Participante]
GO
ALTER TABLE [dbo].[PuntoControlCritico]  WITH CHECK ADD  CONSTRAINT [FK_PuntoControlCritico_Destreza] FOREIGN KEY([DestrezaId])
REFERENCES [dbo].[Destrezas] ([Id])
GO
ALTER TABLE [dbo].[PuntoControlCritico] CHECK CONSTRAINT [FK_PuntoControlCritico_Destreza]
GO
ALTER TABLE [dbo].[Retroalimentaciones]  WITH CHECK ADD  CONSTRAINT [FK_Retroalimentaciones_Curso] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Cursos] ([Id])
GO
ALTER TABLE [dbo].[Retroalimentaciones] CHECK CONSTRAINT [FK_Retroalimentaciones_Curso]
GO
ALTER TABLE [dbo].[Retroalimentaciones]  WITH CHECK ADD  CONSTRAINT [FK_Retroalimentaciones_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Retroalimentaciones] CHECK CONSTRAINT [FK_Retroalimentaciones_Instructor]
GO
ALTER TABLE [dbo].[Retroalimentaciones]  WITH CHECK ADD  CONSTRAINT [FK_Retroalimentaciones_Participante] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participantes] ([Id])
GO
ALTER TABLE [dbo].[Retroalimentaciones] CHECK CONSTRAINT [FK_Retroalimentaciones_Participante]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
USE [master]
GO
